* {
  margin: 0;
  padding: 0;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #193aa8;
  padding: 10px 30px;
}


.logo {
  display: flex;
  align-items: center; 
}


.logo img {
  height: 20px;
  width: auto;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 8px 12px;
  transition: 0.3s;
}

.nav-links li a:hover {
  background-color: #4b4c4d;
  border-radius: 5px;
}

.about {
  background-color: #f4f4f4;
  padding: 60px 20px;
  text-align: center;
}

.about-container {
  max-width: 800px;
  margin: auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.about h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #222;
}

.about p {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
}